<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="/connections.user">
    <!--<add name="storageAccountConString" connectionString="DefaultEndpointsProtocol=https;AccountName=eocoster;AccountKey=8I9wr9bwQZzspl2LmqG9ourhst1gpGj8Jmi2wcDXfNCqqR8VdE6dukMIBg95wP8DOqZbf4nprlOCKyZHfFydvQ=="/>-->
  </connectionStrings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings file="/config.user">
    <add key="containerName" value="" />
    <add key="itemTypesBlobName" value="" />
    <add key="cacheRelativeDirectory" value=""/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>